 .btn_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn {
    border: none;
    margin: 20px;
    background-color: white;
  }
   
  a{
    text-decoration: none;
  }

  .text{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(46, 140, 168);
  }